* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}


body {
    display: grid;
    grid-template-rows: 8rem 1fr;
}

/* Header */
@font-face {
    font-family: 'brunoace';
    src: url('fonts/brunoacesc-regular-webfont.woff2') format('woff2'),
        url('fonts/brunoacesc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    text-align: center;
    padding: 3rem 0;
    box-shadow: 2px 4px 3px 0px #000000;
    background-color: whitesmoke;
}

h1 {
    font-family: 'brunoace', Arial, Helvetica, sans-serif;
}

/* Main content */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 20px;
}

#add-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5em 1.5em;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
}

#add-btn:hover,
.book-card button:hover,
.modal-header .close-btn:hover {
    cursor: pointer;
}

#add-btn:active,
.book-card button:active,
.modal-header .close-btn:active {
    color: white;
    transform: translate(2px, 3px);
}

.books-container {
    width: 70%;
    height: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2rem;
    justify-items: center;
}

/* Book cards */
.book-card {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2rem;
    padding: 10px;
    display: grid;
    width: 15rem;
    height: 9rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    gap: 5px;
    align-items: center;
}

.book-title {
    font-weight: bolder;
    font-size: 1.5rem;
    grid-column: 1 / 5;
    text-align: center;
}

.book-author {
    grid-column: 1 / 5;
}

.book-pages {
    grid-column: 1 / 5;
}


.book-card button {
    width: 70%;
    background-color: gray;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    justify-self: center;
}

.book-card .read-btn {
    color: white;
}

/* Modal */
.add-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.23);
}

.modal-content {
    width: 40%;
    background-color: white;
    margin: 10rem auto;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    border: 3px solid #000000;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-header {
    font-size: 2rem;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 1fr 3rem;
    align-items: center;
    padding: 0 1rem;
    background-color: gray;
    color: white;
}

.modal-header .close-btn {
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: gray;
    padding: .3em;
    border: none;
}

/* Modal Form */
.book-form {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.3rem;
}

.book-form label,
.book-form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    width: 100%;
}

.read-chckbx {
    grid-column: 1 / 3;
    gap: 1.5rem;
}

.book-form input[type='checkbox'] {
    width: 2rem;
    height: 1rem;
    margin-left: 1em;
}